@import "tailwindcss";
:root {
  --font-inter: "Inter", sans-serif;
  --font-barlow: "Barlow", sans-serif;
  --font-fira-sans: "Fira Sans", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-lora: "Lora", serif;
  --font-geist-sans: var(--font-geist-sans);
  --font-geist-mono: var(--font-geist-mono);
}

/* Dùng các class trong JSX */
.font-inter {
  font-family: var(--font-inter);
}
.font-barlow {
  font-family: var(--font-barlow);
}
.font-fira-sans {
  font-family: var(--font-fira-sans);
}
.font-roboto {
  font-family: var(--font-roboto);
}
.font-lora {
  font-family: var(--font-lora);
}
.font-geist-sans {
  font-family: var(--font-geist-sans);
}
.font-geist-mono {
  font-family: var(--font-geist-mono);
}
